.main-layout
    .logo
        margin-top 8px
        margin-left 2px
    .avatar
        width 27px unquote("!important")
    .avatar-container
        margin-bottom 1px
        margin-right 4px
        margin-top 3px
        .q-avatar
            font-size 27px