.side-panel
  > div
    width 100%
    padding 10px
  &-item
    background #eee
    padding-bottom 20px unquote("!important")
    .text-caption
      margin-bottom 5px
    .q-btn-dropdown
      width 100%
      .q-btn + .q-btn
        background #eee !important
        color #797979 !important
    .q-field
      border:1px solid #989898;
      .q-field__native
        padding 4px 0px
      .q-field__control
        padding 0px 7px