.doks
  .q-separator--horizontal
    background rgb(92 92 92)
  .right-drawer
    margin-top 10px
  .q-breadcrumbs
    margin-top 8px
  .title-url
    margin-top 10px
    background #f7f7f7
    padding 10px 20px 20px 20px
    .q-input
      width 100%
    p
      margin-top 30px
  .q-drawer
    padding 23px 47px 20px 11px
  .title-url
    grey-box()
    .q-input
      width 100%
    p
      margin-top 30px
  .tab-panels
    .q-tabs
      position absolute
      top -35px
      margin-left 2%
      .q-tab
        background #ddd
        color #555
        border 1px solid #888
        border-top-left-radius 5px
        border-top-right-radius 20px
        &--active
          background white
          border-bottom none
    .q-tab-panels
      width 100%
      .q-tab-panel
        padding 0px
        .tab-panel-container
          border 1px solid #888
          border-top none
          min-height 477px
          min-width 700px
          padding 22px 24px
          .gray-box
            padding 20px 23px 30px 31px
            margin 20px 20px 20px 20px
            .tree-on-gray
              background white
              .q-tree
                height unset
                max-height 250px
          .no-box
            padding 20px 23px 30px 16px
          .footer
            padding 22px