.doks.home
    .header
        grey-box()
        display flex
        flex-direction row
        justify-content space-between
        padding 10px 15px
    .table
        tbody > tr:nth-child(odd)
            background #f9f9f9
        thead > tr
            background #eee
            