// app global css in Stylus form
@import "variables"
@import "mixins"

//components
@import "quasar.elements"
@import "components/side-panel"
@import "components/main-layout"

//pages
@import "pages/home"
@import "pages/doks"