.folder-tree
  .q-tree
    height 317px
    overflow-y scroll
    overflow-x hidden
    width 100%
    &__arrow
      display none
    .folder-open-added-icon
      height 11px
      width 23px
      background #ff9800
      top 16px
      position absolute
      left 33px
      border-top-right-radius: 3px
      transform skew(-23deg)

.q-table
  .q-icon,
  .material-icons,
  .material-icons-outlined,
  .material-icons-round,
  .material-icons-sharp
    margin-top -5px